<p>Hello you ain't sign in. Plaese click the button below "Sign In" to go to the authorization page </p>
<a type="button" class="btn btn-outline-primary mt-3" value="New Note" asp-controller="Note" asp-action="GoToLogin" >Sign In</a>